.rippleContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.rippleContainer paper-ripple {
    pointer-events: none;
}

.rippleContainer paper-ripple.lightOrange {
    color: #fdbd39;
    color: var(--light-orange);
}

.rippleContainer paper-ripple.peach {
    color: #ee6723;
    color: var(--peach);
}

.rippleContainer paper-ripple.maroon {
    color: #574751;
    color: var(--maroon);
}
.supportButton {
    position: fixed;
    right: 12px;
    bottom: 12px;
    z-index: 1000000;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #f2f2f2;
    background-color: var(--whitey);
    box-shadow: 0 0 2px 0 rgba(87, 71, 81, 0.5);
    box-shadow: 0 0 2px 0 var(--maroon-50pc);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.supportButton.popupOpen::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(87, 71, 81, 0.3);
    background-color: var(--maroon-30pc);
    pointer-events: none;
}

.supportButton.intercomOpen {
    visibility: hidden;
}

.supportButton .supportPopup {
    width: 320px;
    padding-top: 6px;
    position: absolute;
    right: 12px;
    bottom: calc(100% - 12px);
    z-index: 5;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(87, 71, 81, 0.5);
    box-shadow: 0 1px 3px 0 var(--maroon-50pc);
    cursor: default;
}

.supportButton .supportPopup h3 {
    padding: 12px;
    font-size: 15px;
    font-weight: 500;
    color: #574751;
    color: var(--maroon);
}

.supportButton .supportPopup ul {
    padding-bottom: 12px;
}

.supportButton .supportPopup a {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 15px;
    color: #ee6723;
    color: var(--peach);
}

.supportButton .supportPopup a span {
    text-shadow: 1px 0 #fff, -1px 0 #fff;
    background-image: linear-gradient(transparent 16px, #ee6723 16px, #ee6723 17px, transparent 17px);
    background-image: linear-gradient(transparent 16px, var(--peach) 16px, var(--peach) 17px, transparent 17px);
    background-position: 9px 0;
    background-repeat: no-repeat;
}

.supportButton .supportPopup a span::before {
    content: "\2022";
    margin-right: 4px;
    font-size: 15px;
    color: #ee6723;
    color: var(--peach);
}

.supportButton .supportPopup hr {
    width: 100%;
    height: 1px;
    background-color: rgba(188, 181, 185, 0.5);
    background-color: var(--warm-gray-50pc);
}

.supportButton .supportPopup > a,
.supportButton .supportPopup button {
    width: 100%;
    height: 42px;
    font-size: 15px;
    font-weight: 500;
    color: #574751;
    color: var(--maroon);
}

.supportButton .supportPopup > a {
    padding: 0 12px;
    display: flex;
    align-items: center;
}

.supportButton .supportPopup > a img {
    margin-left: 4px;
}

.supportButton .supportPopup button {
    padding: 12px;
    text-align: left;
}

.supportButton .supportPopup button span {
    position: relative;
}

.supportButton .supportPopup li:active,
.supportButton .supportPopup button:active {
    background-color: #f2f2f2;
    background-color: var(--whitey);
}

.supportButton .unreadBadge {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #ee6723;
    background-color: var(--peach);
    border-radius: 50%;
}

.supportButton .unreadBadge::after {
    content: "";
    display: block;
    background-color: #fff;
    border-radius: 50%;
}

.supportButton > .unreadBadge {
    top: -2px;
    left: -2px;
    width: 18px;
    height: 18px;
}

.supportButton > .unreadBadge::after {
    width: 4px;
    height: 4px;
}

.supportButton .supportPopup button span .unreadBadge {
    top: -2px;
    left: calc(100% - 2px);
    width: 14px;
    height: 14px;
}

.supportButton .supportPopup button span .unreadBadge::after {
    width: 2px;
    height: 2px;
}
.hideableInfo {
    display: flex;
    align-items: flex-start;
    padding: 12px;
    background-color: #fff;
    order: 99;
}

.hideableInfo.popover {
    width: 300px;
    position: absolute;
    left: 12px;
    bottom: 40px;
    box-shadow: 0 2px 4px 0 rgba(87, 71, 81, 0.5);
    box-shadow: 0 2px 4px 0 var(--maroon-50pc);
    z-index: 1000;
}

.hideableInfo .anchor {
    display: none;
    position: absolute;
    z-index: -1;
    width: 15px;
    height: 15px;
    border-radius: 4px;
    transform-origin: 0 0;
    transform: rotate(45deg);
    background-color: #fff;
    box-shadow: 0 0 2px 0 rgba(87, 71, 81, 0.5);
    box-shadow: 0 0 2px 0 var(--maroon-50pc);
}

.hideableInfo .anchor.top {
    left: 259px;
    top: -9px;
}

.hideableInfo .anchor.bottom {
    left: 20px;
    bottom: -3px;
}

.hideableInfo .anchor::after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 24px;
    height: 12px;
    transform: rotate(-45deg);
}

.hideableInfo .anchor.top:after {
    left: -1px;
    top: 4px;
}

.hideableInfo .anchor.bottom:after {
    left: -8px;
    top: -2px;
}

.hideableInfo.popover .anchor {
    display: block;
}

.hideableInfo .infoBody {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 6px;
    font-size: 15px;
    line-height: 18px;
    color: #bcb5b9;
    color: var(--warm-gray);
}

.hideableInfo.popover .infoBody {
    color: #574751;
    color: var(--maroon);
}

.hideableInfo .infoText {
    margin-bottom: 12px;
}

.hideableInfo.noControls .infoText {
    margin-bottom: 0;
}

.hideableInfo .infoText a {
    white-space: nowrap;
    color: #c8cf2d;
    color: var(--light-green);
}

.hideableInfo .infoButtons {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.hideableInfo .infoHideButton,
.hideableInfo .infoActionButton {
    line-height: 18px;
    font-size: 15px;
}

.hideableInfo .infoHideButton {
    color: #bcb5b9;
    color: var(--warm-gray);
}

.hideableInfo .infoActionButton {
    color: #419bf9;
    color: var(--cornflower-blue);
}

.hideableInfo .infoHideButton > div {
    display: flex;
    align-items: center;
}

.hideableInfo .infoHideButton img {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 6px;
    background-color: #bcb5b9;
    background-color: var(--warm-gray);
}

.hideableInfo .infoHideButton:active {
    color: rgba(87, 70, 80, 0.5);
    color: var(--maroon-50pc);
}

.hideableInfo .infoHideButton:active img {
    background-color: rgba(87, 70, 80, 0.5);
    background-color: var(--maroon-50pc);
}.projectList {
    padding-bottom: 12px;
}

.projectList h3 {
    display: flex;
    font-size: 15px;
    padding: 16px 12px 6px;
    color: #574751;
    color: var(--maroon);
}

.projectList h3 span:first-child {
    flex: 0 1 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.projectList h3:not(:first-child) {
    margin-top: 24px;
}

.projectList .newProjectButton {
    display: flex;
    align-items: center;
    padding: 12px;
    cursor: pointer;
}

.projectList .newProjectButton .plus {
    margin-right: 12px;
}

.projectList .newProjectButton .plus circle {
    fill: #fecf33;
}

.projectList .newProjectButton .plus path {
    fill: #fff;
    filter: drop-shadow(0.5px 0.5px rgba(87, 71, 81, 0.3));
}

.projectList .newProjectButton > div {
    flex: 1 1 auto;
    overflow: hidden;
}

.projectList .newProjectButton div div:first-child {
    font-size: 15px;
    color: #574751;
    color: var(--maroon);
}

.projectList .newProjectButton div div:last-child {
    line-height: 16px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #bcb5b9;
    color: var(--warm-gray);
}

.projectList .newProjectButton.selected {
    background-color: #fecf33;
    background-color: var(--yellow);
    color: #fff;
}

.projectList .newProjectButton.selected circle {
    fill: #fff;
}

.projectList .newProjectButton.selected path {
    fill: #fecf33;
}

.projectList .newProjectButton.selected div div:first-child {
    color: #fff;
}

.projectList .newProjectButton.selected div div:last-child {
    color: rgba(255, 255, 255, 0.7);
}

.projectList .project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    font-size: 15px;
    height: 42px;
    color: #574751;
    color: var(--maroon);
    cursor: pointer;
}

.projectList .project span {
    flex: 1 1 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 18px;
}

.projectList .spinner {
    margin-left: 12px;
    animation-name: spin-reverse;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.projectList .spinner path {
    fill: #bcb5b9;
}

.projectList .project.odd {
    background-color: #f2f2f2;
    background-color: var(--whitey);
}

.projectList .project.selected {
    background-color: #fecf33;
    background-color: var(--yellow);
    color: #fff;
}


.projectList .selected .spinner path {
    fill: #fff;
}
.moveToProjectPopup {
    position: absolute;
    top: 108px;
    left: 172px;
    width: 320px;
    max-height: 720px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(87, 71, 81, 0.5);
    box-shadow: 0 1px 3px 0 var(--maroon-50pc);
    overflow: auto;
    z-index: 200;
}

.moveToProjectPopup p {
    font-size: 15px;
    padding: 24px 12px;
    color: #574751;
    color: var(--maroon);
}

.moveToProjectPopup .projectListLoading {
    height: 178px;
    background-image: linear-gradient(#f2f2f2, #f2f2f2), repeating-linear-gradient(#f2f2f2, #f2f2f2 42px, #fff 42px, #fff 84px);
    background-image: linear-gradient(var(--whitey), var(--whitey)), repeating-linear-gradient(var(--whitey), var(--whitey) 42px, #fff 42px, #fff 84px);
    background-position: 14px 12px, 0 40px;
    background-size: 122px 20px, 100% 166px;
    background-repeat: no-repeat;
}

@media (max-height: 852px) {
    .moveToProjectPopup {
        max-height: calc(100vh - 132px);
    }
}
.noScreenAssets {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px 12px 0;
    text-align: center;
}

.noScreenAssets .info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.noScreenAssets h1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 28px;
    margin-bottom: 24px;
    overflow: hidden;
    line-height: 28px;
    font-size: 24px;
    font-weight: 300;
    color: #574751;
    color: var(--maroon);
}

.noScreenAssets h2 {
    width: 24px;
    height: 24px;
    margin: 12px auto;
    padding: 0 0 0 4px;
    border-radius: 50%;
    background-color: #fecf33;
    background-color: var(--yellow);
    font-family: Nanum, Helvetica, sans-serif;
    line-height: 26px;
    font-size: 20px;
    color: #fff;
}

.noScreenAssets p {
    line-height: 18px;
    font-size: 15px;
    color: #574751;
    color: var(--maroon);
}

.noScreenAssets h1 img:first-of-type {
    margin: 0 2px 0 6px;
}

.noScreenAssets .victory {
    width: 18px;
    height: 24px;
}

.noScreenAssets .scissors {
    width: 24px;
    height: 24px;
}

.noScreenAssets .sampleAsset {
    width: 160px;
    height: 60px;
    margin-top: 24px;
}

.noScreenAssets .exportableAsset {
    width: 240px;
    margin-top: 36px;
}

.noScreenAssets .sketchFile .exportableAsset {
    height: 44px;
    margin-bottom: 16px;
}

.noScreenAssets .psdFile .exportableAsset {
    height: 244px;
    margin-bottom: 28px;
}

.noScreenAssets .sketchFile .sliceAsset {
    width: 80px;
    height: 62px;
    margin: 24px 0 36px;
}

.noScreenAssets a {
    color: #c8cf2d;
    color: var(--light-green);
    white-space: nowrap;
}/* common */

.noScreensElectron {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noScreensElectron h1 {
    height: 28px;
    font-size: 24px;
    line-height: 28px;
}

.noScreensElectron .toolToZeplin {
    display: flex;
    align-items: center;
}

.noScreensElectron .psLogo {
    width: 48px;
    height: 48px;
}

.noScreensElectron .psToZeplinLogo {
    width: 40.3px;
}

.noScreensElectron .zeplinLogo {
    width: 46.1px;
    position: relative;
    top: -3px;
    left: -4px;
}

.noScreensElectron ol {
    counter-reset: section;
    list-style: none;
    position: relative;
    left: 19px;
}

.noScreensElectron li {
    font-size: 15px;
    color: #574751;
    color: var(--maroon);
    position: relative;
}

.noScreensElectron li:before {
    counter-increment: section;
    content: counter(section) ".";
    width: 24px;
    height: 24px;
    background-color: #c8cf2d;
    background-color: var(--light-green);
    font-size: 24px;
    color: #fff;
    font-family: Nanum, Helvetica, sans-serif;
    border-radius: 50%;
    display: block;
    line-height: 24px;
    position: absolute;
    top: 0;
    left: -36px;
}

.noScreensElectron li:first-child:before {
    padding-left: 9px;
}

.noScreensElectron li:nth-child(2):before {
    padding-left: 8px;
}

.noScreensElectron .photoshopSteps li:first-child img {
    width: 20px;
    height: 20px;
    margin: 1px 0 2px 6px;
}

.noScreensElectron .photoshopSteps .ssDashboardEmpty {
    margin: 0 0 6px;
    width: 281px;
    height: 160px;
    display: block;
}

.noScreensElectron .installPanelInfo {
    font-size: 14px;
    color: #bcb5b9;
    color: var(--warm-gray);
    margin-bottom: 36px;
}

.noScreensElectron a {
    color: #c8cf2d;
    color: var(--light-green);
}

/* photosho only */

.noScreensElectron.photoshopOnly {
    padding: 48px 0;
    width: 560px;
}

.noScreensElectron.photoshopOnly h1,
.noScreensElectron.photoshopOnly h2 {
    font-weight: 100;
    margin-bottom: 6px;
}

.noScreensElectron.photoshopOnly h1 {
    color: #ee6723;
    color: var(--peach);
}

.noScreensElectron.photoshopOnly h2 {
    color: #574751;
    color: var(--maroon);
}

.noScreensElectron.photoshopOnly .toolToZeplin {
    margin: 18px 0 24px;
}

.noScreensElectron.photoshopOnly li:first-child {
    margin-bottom: 16px;
}

.noScreensElectron.photoshopOnly li:first-child div,
.noScreensElectron.photoshopOnly li:last-child div:first-child {
    display: flex;
    align-items: center;

    height: 24px;
}

.noScreensElectron.photoshopOnly li:last-child div:first-child {
    margin-bottom: 9px;
}

.noScreensElectron.photoshopOnly .installPanelInfo {
    width: 332px;
}

.noScreensElectron.photoshopOnly .installPanelInfo code {
    font-size: 13px;
}

.noScreensElectron.photoshopOnly h3 {
    height: 18px;
    font-size: 15px;
    color: #574751;
    color: var(--maroon);
}

/* photoshop and figma */

.noScreensElectron.photoshopAndFigma {
    padding: 60px 0;
}

.noScreensElectron.photoshopAndFigma h1 {
    font-weight: 300;
    margin-bottom: 12px;
    color: #574751;
    color: var(--maroon);
}

.noScreensElectron.photoshopAndFigma .designToolSelection {
    display: flex;
    align-items: center;
}

.noScreensElectron.photoshopAndFigma .designToolSelection hr {
    width: 2px;
    height: 24px;
    margin: 0 6px;
    background-color: #bcb5b9;
    background-color: var(--warm-gray);
}

.noScreensElectron.photoshopAndFigma .designToolSelection label {
    display: flex;
    justify-content: center;
    line-height: 28px;
    font-size: 24px;
    cursor: pointer;
}

.noScreensElectron.photoshopAndFigma .designToolSelection label:first-child {
    width: 117px;
}

.noScreensElectron.photoshopAndFigma .designToolSelection label:last-child {
    width: 67px;
}

.noScreensElectron.photoshopAndFigma input[type="radio"] {
    display: none;
}

.noScreensElectron.photoshopAndFigma .designToolSelection span {
    color: #bcb5b9;
    color: var(--warm-gray);
    font-weight: 300;
}

.noScreensElectron.photoshopAndFigma input[type="radio"]:checked + span {
    font-weight: 500;
}

.noScreensElectron.photoshopAndFigma input[value="photoshop"]:checked + span {
    color: #1c9bff;
}

.noScreensElectron.photoshopAndFigma input[value="figma"]:checked + span {
    color: #000000;
}


.noScreensElectron.photoshopAndFigma .toolToZeplin {
    margin: 24px 0 36px;
}

.noScreensElectron.photoshopAndFigma .figmaLogo {
    width: 48px;
    height: 48px;
}

.noScreensElectron.photoshopAndFigma .figmaToZeplinLogo {
    width: 48px;
    position: relative;
    left: -8px;
    top: 13px;
}

.noScreensElectron[data-designtool="figma"] .zeplinLogo {
    left: -8px;
}

.noScreensElectron.photoshopAndFigma li {
    white-space: pre;
}

.noScreensElectron.photoshopAndFigma li:nth-child(3):before {
    padding-left: 8px;
}

.noScreensElectron.photoshopAndFigma .photoshopSteps li:first-child {
    margin-bottom: 24px;
}

.noScreensElectron.photoshopAndFigma .photoshopSteps li:first-child div,
.noScreensElectron.photoshopAndFigma .photoshopSteps li:nth-child(2) div:first-child {
    display: flex;
    align-items: center;

    height: 24px;
}

.noScreensElectron.photoshopAndFigma .photoshopSteps li:nth-child(2) div:first-child {
    margin-bottom: 9px;
}

.noScreensElectron.photoshopAndFigma .photoshopSteps .installPanelInfo {
    width: 277px;
}


.noScreensElectron.photoshopAndFigma .figmaSteps li div {
    line-height: 18px;
    font-size: 15px;
    color: #574751;
    color: var(--maroon);
}

.noScreensElectron.photoshopAndFigma .figmaSteps li:not(:first-child) div:first-child {
    height: 24px;
    display: flex;
    align-items: center;
}

.noScreensElectron.photoshopAndFigma .figmaSteps li:first-child div:nth-child(2) {
    height: 18px;
}

.noScreensElectron.photoshopAndFigma .figmaSteps li:first-child img {
    margin: 12px 0 24px;
    display: block;
}

.noScreensElectron.photoshopAndFigma .figmaSteps li:nth-child(2) {
    margin-bottom: 24px;
}

.noScreensElectron.photoshopAndFigma .figmaSteps li:last-child div:first-child {
    line-height: 19px;
}

.noScreensElectron.photoshopAndFigma .figmaSteps li:last-child div:last-child {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}

.noScreensElectron.photoshopAndFigma .figmaSteps li:last-child div:last-child div {
    margin: 24px 12px 0;
}
.zplSidebarMenu,
.zplSidebarMenu .submenu {
    z-index: 1000;
    position: fixed;
    top: 0;

    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(87, 71, 81, 0.5);
    box-shadow: 0 2px 4px 0 var(--maroon-50pc);
}

.zplSidebarMenu label:hover,
.zplSidebarMenu label.subMenuOpen {
    background-color: #f2f2f2;
    background-color: var(--whitey);
}

.zplSidebarMenu label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 120px;
    color: #574751;
    color: var(--maroon);
    cursor: pointer;
    padding: 8px 12px 8px 16px;
    white-space: nowrap;
    line-height: 18px;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.zplSidebarMenu label input[type="checkbox"],
.zplSidebarMenu label input[type="radio"] {
    display: none;
}

.zplSidebarMenu label img.menuChevron {
    visibility: visible;
    pointer-events: none;
}

.zplSidebarMenu label img {
    margin-left: 12px;
    visibility: hidden;
}

.zplSidebarMenu label img.menuChevron,
.zplSidebarMenu label input[type="radio"]:checked + img,
.zplSidebarMenu label input[type="checkbox"]:checked + img {
    visibility: initial;
}

.zplSidebarMenu .submenu {
    position: absolute;
    top: -6px;
}

.zplSidebarMenu .submenu.left {
    right: calc(100% - 4px);
}

.zplSidebarMenu .submenu.right {
    left: calc(100% - 4px);
}

.zplSidebarMenu hr {
    height: 1px;
    background-image: linear-gradient(to right, transparent, transparent 16px, rgba(188, 181, 185, 0.3) 16px);
    background-image: linear-gradient(to right, transparent, transparent 16px, var(--warm-gray-30pc) 16px);
}
